*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 45deg, #0a0a0a, #3a4452);   
}

.Calculator{
    border: 1px solid #717377;
    padding: 50px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input{
    width: 100%;
    margin-bottom: 20px;
    background: transparent;
    box-shadow: -3px -3px 15px rgba(186, 187, 190, 0.5);
    border: none;
    border-radius: 20px;
    padding: 24px;
    margin: 10px, 10px;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    background: linear-gradient(45deg, #3a4452, #0a0a0a);
    box-shadow: -6px 3px 20px rgba(230, 238, 255, 0.5);
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
}

.equalBTN{
    background: linear-gradient(45deg, #574d4d, #ff6201);
}

.ADD{
    background: linear-gradient(45deg, #574d4d, #af490e);
}

.SUBTRACT{
    background: linear-gradient(45deg, #574d4d, #85380c);
}

.MULTIPLY{
    background: linear-gradient(45deg, #574d4d, #6b2d09);
}

.DIVISION{
    background: linear-gradient(45deg, #574d4d, #421b04);
}